################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShoppingList2/v16/Server/sqlite3
/ShoppingList2/bin/Debug/netcoreapp3.1
/ShoppingList2/obj
/ShoppingList2.sln
